<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ethanwright.javapunchcard">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Time Card"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Time Card"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateCard"
            android:label="@string/title_activity_create_card"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewAllCards"
            android:label="@string/title_activity_view_all_cards"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewCategories"
            android:label="ViewCategories"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Report"
            android:label="Report"
            android:theme="@style/AppTheme.NoActionBar">
            <activity
                android:name=".ViewPunchHistory"
                android:label="ViewPunchHistory"
                android:screenOrientation="locked"
                android:theme="@style/AppTheme.NoActionBar" />
        </activity>
        <activity
            android:name=".ViewPunchHistory"
            android:label="@string/title_activity_view_punch_history"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditCardLog"
            android:label="@string/title_activity_edit_card_log"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>